/*TODO: take a look at the css to understand it better.*/

@media screen and (min-width: 960px) {
  .activeNav {
    background: #1e1e1e;
    opacity: 0.4;
    transition: all ease 0.5s;
  }

  .inactiveNav {
    opacity: 1;
    transition: all ease 0.5s;
  }

  .hiddenNav {
    top: -100px !important;
    transition: all ease 1s;
  }

  .displayedNav {
    top: 0px !important;
    transition: all ease 1s;
  }
}

.menu-icon {
  color: #f1f1f1 !important;
}

@media screen and (max-width: 960px) {
  .clickedNav {
    background: #070707;
  }

  .unclickedNav {
    background: transparent;
  }
}
