/*TODO: take a look at the css to understand it better.*/

.activeNav {
  background: #1e1e1e;
  opacity: 40%;
  transition: all ease 0.5s;
}

.inactiveNav {
}

@media screen and (max-width: 960px) {
  .clickedNav {
    background: #070707;
  }

  .unclickedNav {
    background: transparent;
  }
}
