/*TODO: take a look at the css to understand it better.*/

.activeNav {
  background: #fff;
}

.inactiveNav {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

@media screen and (max-width: 960px) {
  .clickedNav {
    background: #fff;
  }

  .unclickedNav {
    background: transparent;
    transition: 0.8s all ease;
  }
}
