@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  @apply bg-main-background;
}

a,
p,
h1,
h2 {
  @apply text-main-text;
}

.social-icon {
  @apply text-4xl mx-3;
}

.social-icon:hover {
  @apply transform scale-110 transition-all ease-in duration-200;
}

@screen lg {
  .social-icon {
    @apply mx-8 my-4;
  }
}

@layer utilities {
  @responsive {
    .nav-link {
      @apply text-main-text text-center p-8 w-full table uppercase;
    }

    .nav-link:hover {
      @apply border-b-2 border-primary;
    }

    .nav-link-lg {
      @apply text-main-text flex items-center no-underline px-6 pt-4 pb-1 h-full;
    }

    .banner-background-lg {
      background: url("../images/banner-profile-pic.png");
      background-position: right bottom; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: 40%;
      @apply bg-banner;
    }

    .banner-background {
      @apply bg-banner;
    }
  }
}

.btn {
  @apply w-full border-2 border-main-text bg-transparent whitespace-no-wrap px-5 py-5 my-2 text-main-text text-lg outline-none border-main-text cursor-pointer;
}

.btn:hover {
  @apply bg-primary transition ease-linear duration-200 border-2 border-primary transform scale-110;
}

@screen lg {
  .btn {
    @apply w-64;
  }
}

.btn-primary {
  @apply bg-primary border-2 border-primary;
}

.btn-primary:hover {
  @apply border-solid border-2 border-main-text bg-transparent transition ease-linear duration-200;
}

/*skills*/
.skill-card {
  @apply w-full h-full bg-secondary-background  px-4  py-4 text-center flex flex-col items-center justify-evenly;
}

.skill-card h2 {
  @apply text-main-text text-xl  mb-3;
}

.skill-card p {
  @apply text-secondary-text text-sm;
}

@screen lg {
  .skill-card {
    @apply px-8  py-8;
  }

  .skill-card h2 {
    @apply text-2xl;
  }

  .skill-card p {
    @apply text-base;
  }
}

.grid-card-container {
  @apply grid  w-full  p-12 pt-20   gap-5;
}

@screen md {
  .grid-card-container {
    @apply grid-cols-2;
  }
}

@screen lg {
  .grid-card-container {
    @apply grid-cols-3 gap-10;
  }
}

@screen xl {
  .grid-card-container {
    @apply w-7/10 h-80vh;
  }
}

.card-icon {
  @apply text-lg w-16  h-auto text-primary mb-3;
}

@screen lg {
  .card-icon {
    @apply w-20;
  }
}

/* projects */
.post-summary {
  @apply pt-3 pl-3 top-70 h-full w-full absolute left-0 bg-black opacity-75 z-30 transition-all duration-500 flex flex-col justify-start items-start;
}

.post-summary h2 {
  @apply font-bold text-primary text-lg  transform  transition-all ease-in duration-200 w-full;
}

@screen lg {
  .post-summary {
    @apply top-100;
  }

  .post-summary h2 {
    @apply text-main-text;
  }
}

.post-item:hover .post-summary {
  @apply justify-center items-center top-0 text-center pt-0 pl-0;
}

/* footer */
.footer-social-icon {
  @apply text-xl mx-3;
}

.footer-social-icon:hover {
  @apply transform scale-110 transition-all ease-in duration-200;
}

@screen lg {
  .footer-social-icon {
    @apply mx-6 my-4 text-2xl;
  }
}

/* form */
.input {
  @apply transform transition ease-in duration-200 w-full my-4 bg-transparent border-b border-opacity-25 border-secondary-text text-secondary-text  pb-1;
}

.input:focus {
  @apply outline-none scale-105 border-opacity-50 border-primary;
}

/* testimonials */
.BrainhubCarousel__arrows {
  background-color: #fe0000;
}
